<div class= "row">
<!--User InfoからBook newまでをrender-->
  <div class= "col-md-3">
   <%= render 'users/user', user: @user %>
   <%= render 'books/new_book', book: @book %>
  </div>
<!--User InfoからBook newまでをrender-->

<!--books-->
  <%= render 'books/books', books: @books %> 
 
</div> 
